*.mat
*.h5
*.pyc
*.npy
*.npz
*-checkpoint.ipynb
*~
*.swp

exp_*/data/*
exp_*/tfmodel/*
exp_*/results/*
exp_*/tb/*
exp_*/log/*
exp_*/__obsolete__/*
exp_*/eval_outputs/*

*.caffemodel
*.tfmodel*

*-Copy*.ipynb

checkpoint
.DS_Store
events.out.tfevents.*
